<form class="text-center" method="POST" action="/">
    <input type="hidden" name="form-name" value="form2">
    <div class="form-group pb-4">
        <label for="signInEmail">Email address</label>
        <input type="email" class="form-control" id="signInEmail" aria-describedby="emailHelp" placeholder="Enter email" name="email">
        <small id="emailHelp" class="form-text text-muted">Please enter your Dominican University email.</small>
    </div>
    <div class="form-group pb-4">
        <label for="signInPassword">Password</label>
        <input type="password" class="form-control" id="signInPassword" placeholder="Password" name="password">
    </div>
    <div class="form-check pb-4">
        <input type="checkbox" class="form-check-input" id="signInCheck1" data-toggle="modal" data-target="#exampleModalLong" required>
        <label class="form-check-label font-weight-bold" for="signInCheck1" >I will read and agree to the Community Guidelines</label>
    </div>
    <button class="btn btn-primary mb-4">Sign In</button>
</form>