nav {
    background-color: #676f83;
}

#navbar-title {
    font-size: 2rem;
}

#make-post-container {
    margin-bottom: 120px;
}

#make-post-title {
    position: relative;
    top: 15px;
    font-size: 2rem;
    margin-bottom: -27px;
    letter-spacing: 4px;
    font-weight: lighter;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
    font-size: 1.5rem;
}
  
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
}
.form-inline > .btn {
    border-color: #4d96ac;
    color: #4d96ac;
    border-width: 1px;
    border-radius: 10px;
}

.form-inline > .btn:hover {
    background-color: white;
}

.dropdown-container > a {
    color: #6e767d;
}

.dropdown-container > a:hover {
    cursor: pointer;
    color: #4d96ac;
    text-decoration: none;
}

#sidebar > ul > li:hover {
    cursor: pointer;
    color: #4d96ac;
}

#sidebar > ul > a{
    color: #6e767d;
}

#sidebar > ul > a:hover{
    color: #4d96ac;
    text-decoration: none;
}

.dropdown-container > li:hover {
    cursor: pointer;
    color: #4d96ac;
}

.dropdown-container {
    display: none;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

#avatar-circle {
    z-index: 1;
    position: relative;
    top: 42px;
    right: 2px;
    height: 90px;
    width: 90px;
    background-color: white;
    border-color: white;
}

#avatar-top {
    z-index: 2;
    position: relative;
    bottom: 50px;
}

#make-post {
    background-color: #676f835d;
}

#delete-post {
    color: tomato;
}

.btn-primary {
    background-color: #4d96ac;
    border-color: #bfebf7;
}

#pseudo-post-circle {
    width: 100px;
    height: 100px;
    z-index: 1;
    position: relative;
    bottom: 60px;
    background-color: white;
    margin-bottom: -140px;
}

#pseudo-avatar-img {
    position: relative;
    z-index: 2;
    bottom: 30px;
    right: 9px;
}

#pseudo-plant-avatar-img {
    position: relative;
    z-index: 2;
    bottom: 15px;
    left: 4px;
}

#sticky > #sidebar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #676f834d;
    padding: 25px;
}

#sticky {
    background-color: white;
}

#posts-avatar-img {
    position: relative;
    z-index: 2;
    bottom: 18px;
    left: 14px;
}