{% extends 'base.html' %}

{% block content %}
    {% include 'partials/navbar.html' %}
    <div class="container-fluid">
        <div class="row">

            <!--——————————————Sidebar———————————————————————————-->
            <nav class="col-3 sidebar navbar-expand-lg" style="position: sticky" id="sticky">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse show" id="sidebar">
                    <ul class="nav flex-column list-group list-group-flush text-muted" id="sidebar">
                        <li class="nav-item list-group-item bg-light dropdown-btn my-3" style="border:solid 1px; border-radius:10px">
                            <div class="row align-items-center" id="dropdown-content">
                                <img src="{{user.avatar}}" alt="squirrel avatar" height="40" class="ml-2">
                                <span class="ml-2">{{ user.username }}</span>
                                <i class="fa fa-caret-down ml-auto"></i>
                            </div>
                        </li>
                        <div class="dropdown-container">
                            <a href="view-posts.html"><li class="nav-item list-group-item bg-light"><i class="fas fa-clipboard"></i> View My Posts</li></a>
                            <li href="#" class="nav-item list-group-item bg-light"><i class="fas fa-cog" id="settings" title="User Settings"></i> Settings</li>
                            <li href="#" class="nav-item list-group-item bg-light mb-1"><i class="fas fa-lock"></i> Security and Privacy</li>
                        </div>
                        <li href="templates/home.html"class="nav-item list-group-item bg-light mb-1"><i class="fas fa-home"></i> Home</li>
                        <li class="nav-item list-group-item bg-light dropdown-btn mb-1">
                            <span><i class="fas fa-hands-helping" id="community" title="Community Resources"></i> Community Resources<i class="fa fa-caret-down pt-1"></i></span>
                        </li>
                        <div class="dropdown-container">
                            <li href="#" class="nav-item list-group-item bg-light"><i class="fas fa-school"></i> On Campus</li>
                            <li href="#" class="nav-item list-group-item bg-light"><i class="fas fa-wifi"></i> Online</li>
                            <li href="#" class="nav-item list-group-item bg-light mb-1"><i class="fas fa-map-marked"></i> Near Me</li>
                        </div>
                        <li class="nav-item list-group-item bg-light mb-1"><i class="fas fa-comment-alt"></i> Channels</li>
                        <li class="nav-item list-group-item bg-light mb-1"><i class="fas fa-flag"></i> Make a Report</li>
                        <a href="templates/index.html"><li class="nav-item list-group-item bg-light"><i class="fas fa-power-off" id="logout" title="Logout"></i> Logout</li></a>
                    </ul>
                </div>
            </nav>
            
            <div class="col-9">
                <!--——————————————Top Title———————————————————————————-->
                <h5 class="text-center pb-4 pt-4 text-muted">Welcome back {{ user.username }} <span class="wave">&#128075;</span></h5>
                <!--——————————————Make a Post Container———————————————————————————-->

                <div class="container" id="make-post-container">
                    <div class="col-8 offset-sm-2">
                        <div id="make-post" class="justify-content-center" style="border-radius:25px">
                            <div class="col-10 offset-sm-1">
                                <p class="text-center text-muted" id="make-post-title">MAKE A POST...</p>
                            </div>
                            
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <div class="ml-auto d-block border rounded-circle" id="avatar-circle"></div>
                                    <img class="ml-auto d-block p-2" src="{{ user.avatar }}" alt="squirrel avatar" height="90" id="avatar-top">  
                                </div>
                
                                <div class="col-6">
                                    <input type="text" class="form-control p-4" placeholder="What's on your mind today?" data-toggle="modal" data-target="#make-post-modal">
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                
                <!--——————————————Pseudo Post One———————————————————————————-->
                <div>
                    {% for post in posts %}
                        <p>{{ post.content }}</p>
                        <p>{{ post.user_obj }}</p>
                    {% endfor %}
                </div>
                <div>
                    {% for post in posts %}
                        <div class="container mt-5">
                            <div class="col-10 offset-sm-1 pb-3">
                                <div class="row d-flex justify-content-end">
                                    <i class="fas fa-info-circle pr-2 text-muted"></i>
                                    <i class="fas fa-times-circle pr-4" id="delete-post" title="Delete" onclick="deletePost()"></i>
                                </div>
                            </div>

                            <div class="col-10 offset-sm-1 p-4 bg-light" style="border-radius:35px">
                                <div class="col-2">
                                    <div class="border rounded-circle" id="pseudo-post-circle"></div>
                                    <img src="{{ user_obj.avatar }}" alt="food avatar" id="pseudo-avatar-img" width="116">
                                </div>
                                <div class="col-10 offset-sm-1">
                                    <hr>
                                    <p class="text-center">{{ post.content }}</p>
                                    <hr>
                                    <time datetime="{{ post.created_at }}" class="text-muted d-flex justify-content-end">{{ post.created_at }}</time>
                                </div>
                            </div>
                            <div class="col-10 offset-sm-1 py-3">
                                <div class="row d-flex justify-content-end pr-4">
                                    <p class="text-muted pr-2"><i class="fas fa-comments pr-2" id="comments" title="Comment"></i>0 comments</p>
                                    <p class="text-muted pr-2"><i class="fas fa-thumbs-up pr-2" title="Upvote Post" onclick="upvote()"></i>0 upvotes</p>
                                    <p class="text-muted pr-2"><i class="fas fa-thumbs-down pr-2" title="Downvote Post" onclick="downvote()"></i>0 downvotes</p>
                                </div>
                            </div>
                            <hr class="mb-5">
                        </div>
                    {% endfor %}
                </div>
                

                <div class="container mt-5">
                    <div class="col-10 offset-sm-1 pb-3">
                        <div class="row d-flex justify-content-end">
                            <i class="fas fa-info-circle pr-2 text-muted"></i>
                            <i class="fas fa-times-circle pr-4" id="delete-post" title="Delete" onclick="deletePost()"></i>
                        </div>
                    </div>
            
                    <div class="col-10 offset-sm-1 p-4 bg-light" style="border-radius:35px">
                        <div class="col-2">
                            <div class="border rounded-circle" id="pseudo-post-circle"></div>
                            <img src="static/images/food.png" alt="food avatar" id="pseudo-avatar-img" width="116">
                        </div>
                        <div class="col-10 offset-sm-1">
                            <hr>
                            <p class="text-center">Post Content</p>
                            <hr>
                            <time datetime="2021-10-14 02:39" class="text-muted d-flex justify-content-end">Oct 14, 2021</time>
                        </div>
                    </div>
            
                    <div class="col-10 offset-sm-1 py-3">
                        <div class="row d-flex justify-content-end pr-4">
                            <p class="text-muted pr-2"><i class="fas fa-comments pr-2" id="comments" title="Comment"></i>0 comments</p>
                            <p class="text-muted pr-2"><i class="fas fa-thumbs-up pr-2" title="Upvote Post" onclick="upvote()"></i>0 upvotes</p>
                            <p class="text-muted pr-2"><i class="fas fa-thumbs-down pr-2" title="Downvote Post" onclick="downvote()"></i>0 downvotes</p>
                        </div>
                    </div>
                    <hr class="mb-5">
                </div>
            </div>
        </div>
    </div>
<!--————————————————————————————Make a Post Module————————————————————————————————————-->
    {% include 'partials/post.html' %}
{% endblock %}
<script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;
    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            console.log('beep')
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>

